<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aero Ranger accessment</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="container mt-4">
            <Header>{{message}}</Header>
            <!-- Login div  -->
            <h2>{{loginError}}</h2>
            <div v-if="needLogin" class="loginform">     
                <div class="form-group mb-2">
                    <label for="email">Email</label>
                    <input v-model="email" type="email" id="email" class="form-control" required>
                </div>
                <div class="form-group mb-2">
                    <label for="password">Password</label>
                    <input v-model="password" type="password" id="password" class="form-control" required>
                </div>
                  <button @click="Login()" class="btn btn-dark mb-4">Login</button>
                  
            </div>
            <!-- application div -->
            <div v-else>
                <div class="row anpr">
                    <div class="upload col-sm-6">
                        <p>upload files</p>
                        <input type="file" accept="image/*" @change="uploadImage($event)" id="upload">
                        <div class="preview">
                            <img id="upload-preview" class="imagePreview">
                        </div>
                        <button @click="compressImgAndPreview">Resize</button>
                    </div>
                    <div class="camera col-sm-6">
                        <p>Take a picture from your camera</p>                        
                        <input type='file' name="cameraImage" accept="image/*" capture="camera" id="cameraImage" />  
                    </div>    
                    
                </div>                
                <button @click="submitQuery" class="btn btn-dark mb-4">Submit Query</button> 

                <div v-if="showResult" class="result">
                    <h6 v-if="queryError" class="queryerror">{{queryErrorMsg}}</h6>
                    <h6 v-else-if="responseWithAlert" class="vehiclehit">Vehicle Hit</h6>                   
                    <h6 v-else class="vehicleread">Vehicle Read</h6>
                    <!-- display relevent information with bootstrap cards if no error-->
                    <div v-if="!queryError" class="card">
                        <img class="card-img-top" v-bind:src="imageUrl" alt="Card image cap">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Make: {{make}}</li>
                          <li class="list-group-item">Model: {{model}}</li>
                          <li class="list-group-item">Color: {{color}}</li>
                          <li class="list-group-item">Plate: {{plate}}</li>
                        </ul>
                    </div>
                </div>

            </div>           
        </div>        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    <script src="app.js"></script>
</body>
</html>